/* css reset */
*,
::after,
::before {
	margin: 0 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

.preload{
	position: fixed;
	margin-top: 50%;
	margin-left: 25%;
	animation-name: loader;
	animation-duration: 3s;
	animation-iteration-count: 1;
	visibility: hidden;
}
  @keyframes pre-loader{
	0%{opacity:0; visibility: hidden;}
	99%{opacity:0; visibility: hidden;}
	100%{opacity: 1; visibility: visible;}
}
@keyframes loader{
	25%{opacity: 25%; visibility: visible;}
	50%{opacity: 100%}
	75%{opacity: 25%}
	100%{opacity: 0%; visibility: hidden;}
}  

/* nav START */
nav {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;
	box-shadow:  0 7px 9px -7px rgba(0,0,0,0.4);
	z-index: 3;
}

#retour{
	position: relative;
	right: 13%;
	color: #353535;
	text-decoration: none;
}
/* nav END */

/* header START */

.localisation{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eaeaea;	
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;
	
}

.localisation p{
	font-size: 18px;
	color: #353535;
	padding-left: 10px;
}
.localisation i{
	color: #353535;
}

header{
	padding: 25px 15px;
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;
}

header h1{
	font-weight: bold;
	font-size: 24px;
	padding: 10px 60px;
}

header p{
padding: 0 15px;
}

header a, article a{
	color: white;
	background: rgb(147,86,220);
	background: linear-gradient(-10deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);
	border-radius: 25PX ;
	padding: 12px 20px;
	margin: 20px 0;
}
/* header END */

/* section fonctionnement START */
.fonctionnement{
	display: flex;
	flex-direction: column;
	margin: 25px 15px;
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;

}

.fonctionnement__box{
	height: 70px;
	width: 95%;
	background-color: #f6f6f6;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 20px;
	margin: 15px 5px;
	font-weight: bold;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);
}

.fonctionnement__box i{
	display: flex;
	align-items: center;
	margin-left: 30px;
	color: #7e7e7e;
	width: 40px;
	height: 40px;
}


.fonctionnement__box__num {
 	position: absolute;
	margin-left: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 20px;
	height: 20px;
	background-color: #9356DC;
	border-radius: 10px;
	font-size: 12px;
}
/* section fonctionnement END */

/* section main START*/
main{
	background-color: #f6f6f6 ;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 15px;
	width: 100%;
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;
}

main h3{
	align-self: flex-start;
}

.restaurant-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 22px;
	box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
	width: 90%;
	height: 250px;
	margin: 15px 0px;
	color: black;
	text-decoration: none;
}

.restaurant-card img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	max-height: 70%;
	min-height: 70%;
	object-fit: cover;
}

.tag-new{
	position: absolute;
	background-color: #99e2d0;
	color: #169477;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 2px;
	margin-left: 50%;
	margin-top: 20px;
}

.restaurant-card__desc{
	display: flex;
 	flex-direction: row;
	width: 100%;
	height: 30%;
	align-items: center;
	justify-content: space-between;
}

.restaurant-card__desc__titre{
	padding-left: 10px;
}

.restaurant-card__desc__titre p:first-of-type{
	font-weight: bold;
	margin-bottom: 5px;
}

/* .coeur{
	justify-self: flex-end;
}

.coeur_hover{
	justify-self: flex-end;
} */

/* section main END*/

/* section footer START */
footer{
	display: flex;
	flex-direction: column;
	background-color: #353535;
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: visible;
}

#footer__title{
	color: white;
	text-decoration: none;
	font-family: Shrikhand, roboto;
	font-size: 18px;
	margin: 20px 10px 10px 15px;
}
.footer__link {
	margin-bottom: 20px;
}

.footer__link a{
	display: flex;
	padding: 5px 0 5px 15px;
	text-decoration: none;
	color: white;
}

.footer__link a i{
	min-width: 20px;
	min-height: 20px;
	padding-right: 20px;
}

/* section footer END */

/*MENU PAGE*/

.img__pre {
	border: solid 1px red;

}
.img__pre img {
	width: 100%;
	object-fit: cover;
}

article{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px;
	background-color: #f6f6f6;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.plat-card{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 90%;
	height: 70px;
	background-color: white;
	border-radius: 20px;
	margin: 15px;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
}

.plat-card p:first-of-type{
	font-weight: bold;
	margin-bottom: 5px;
}

.restaurant-card__desc{
	display: flex;
 	flex-direction: row;
	width: 100%;
	height: 30%;
	align-items: center;
	justify-content: space-between;
}


/* float right pour le hover text overflow elipsis ?? des card des plats  */