*,
::after,
::before {
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*variable pour le pre-loader*/
.preload {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation-name: loader;
  animation-duration: 3s;
  visibility: hidden;
  animation-iteration-count: 1;
}

@keyframes pre-loader {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  99% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes loader {
  25% {
    opacity: 25%;
    visibility: visible;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
/*color variable*/
/*flex variable*/
.nav {
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  padding: 20px 0;
  box-shadow: 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}
.nav__retour {
  position: relative;
  right: 13%;
  color: #353535;
  text-decoration: none;
}
.nav__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.nav__localisation__text {
  font-size: 18px;
  color: #353535;
  padding-left: 10px;
}
.nav__localisation__icon {
  color: #353535;
}

.header {
  padding: 25px 15px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.header__title {
  font-weight: bold;
  font-size: 24px;
  padding: 10px 60px;
}
.header__title-secondary {
  padding: 0 15px;
}
.header .button--gradiant {
  background: linear-gradient(-10deg, #9356DC 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  color: #fff;
  padding: 12px 20px;
  margin: 20px 0;
  transition: 0.2s ease-in-out;
}
.header .button--gradiant:hover {
  cursor: pointer;
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.9) 0%, rgb(255, 121, 218) 78%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 25px 15px;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.fonctionnement__box {
  height: 70px;
  width: 95%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  margin: 15px 5px;
  font-weight: bold;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}
.fonctionnement__box--icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  color: #353535;
  width: 40px;
}
.fonctionnement__box__num {
  position: absolute;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 10px;
  font-size: 12px;
}
.fonctionnement__box:hover {
  background-color: #f5edff;
}
.fonctionnement__box:hover > .fonctionnement__box--icon {
  color: #9356DC;
}

.main {
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 25px 15px;
  width: 100%;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.main__title {
  align-self: flex-start;
}
.main .restaurant-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 22px;
  width: 90%;
  height: 250px;
  margin: 15px 0px;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.main .restaurant-card__img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  max-height: 70%;
  min-height: 70%;
  object-fit: cover;
}
.main .restaurant-card .tag-new {
  position: absolute;
  background-color: #99e2d0;
  color: #169477;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  margin-left: 50%;
  margin-top: 20px;
}
.main .restaurant-card:hover {
  width: 92%;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.45);
}
.main .restaurant-card__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
}
.main .restaurant-card__desc__titre {
  padding-left: 10px;
}
.main .restaurant-card__desc__titre p:first-of-type {
  font-weight: bold;
  margin-bottom: 5px;
}
.main .restaurant-card__desc__liked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20%;
  height: 90%;
  padding: 10px;
}
.main .restaurant-card__desc .coeur_hover {
  opacity: 0;
  color: rgb(255, 121, 218);
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.main .restaurant-card__desc .coeur_hover:hover {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-color: #353535;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.footer__title {
  color: #fff;
  font-family: Shrikhand, roboto;
  font-size: 18px;
  margin: 20px 10px 10px 15px;
  text-decoration: none;
}
.footer__link a {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  padding: 5px 0 5px 15px;
  text-decoration: none;
  color: #fff;
}
.footer__link a i {
  min-width: 20px;
  min-height: 20px;
  padding-right: 20px;
}
.footer__link a:hover {
  color: #99e2d0;
}

/*MENU PAGE*/
.img__pre {
  width: 100%;
  max-height: 300px;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
}
.img__pre img {
  max-height: 70%;
  min-height: 70%;
  width: 100%;
  object-fit: cover;
}

@keyframes upfade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.card-1 {
  animation-delay: 0.15s;
}

.card-2 {
  animation-delay: 0.3s;
}

.card-3 {
  animation-delay: 0.45s;
}

.card-4 {
  animation-delay: 0.6s;
}

.card-5 {
  animation-delay: 0.75s;
}

.card-6 {
  animation-delay: 0.9s;
}

.card-7 {
  animation-delay: 1.05s;
}

.card-8 {
  animation-delay: 1.2s;
}

.card-9 {
  animation-delay: 1.35s;
}

.card-10 {
  animation-delay: 1.5s;
}

.menu-restaurant {
  padding: 35px 10px 15px 10px;
  transform: translateY(-50px);
  margin-bottom: -50px;
  animation-name: pre-loader;
  animation-duration: 3s;
  visibility: visible;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.menu-restaurant__titre {
  width: 100%;
  padding: 0 15px;
  margin: 10px 0;
  font-size: clamp(16px, 5vw, 20px);
  display: flex;
  font-family: Shrikhand, roboto;
  justify-content: space-between;
}
.menu-restaurant__titre--liked {
  padding-right: 10px;
  color: #353535;
  justify-self: flex-end;
  align-self: center;
}
.menu-restaurant__categorie {
  margin: 20px 0px 5px 15px;
  align-self: flex-start;
  color: #353535;
  font-weight: 100;
  font-size: 17px;
}
.menu-restaurant__categorie::after {
  content: "";
  position: absolute;
  width: 10%;
  background-color: #99e2d0;
  height: 3px;
  margin-top: 20px;
  left: 7vw;
}
.menu-restaurant__plat-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 92%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  padding: 0 0 0 10px;
  margin: 5px 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-name: upfade;
}
.menu-restaurant__plat-card--content {
  justify-self: flex-start;
  overflow: hidden;
  flex-basis: 95%;
  transition: all 0.5s ease-in-out;
}
.menu-restaurant__plat-card--content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-restaurant__plat-card--content p:first-of-type {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu-restaurant__plat-card--price {
  white-space: nowrap;
  padding-top: 25px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 15px;
  flex-basis: 5%;
}
.menu-restaurant__plat-card--check {
  opacity: 0;
  flex-basis: 0%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  height: 100%;
  background-color: transparent;
  color: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.menu-restaurant__plat-card:hover > .menu-restaurant__plat-card--content {
  flex-basis: 80%;
  cursor: pointer;
}
.menu-restaurant__plat-card:hover > .menu-restaurant__plat-card--check {
  opacity: 1;
  flex-basis: 15%;
  background-color: #99e2d0;
  cursor: pointer;
}
.menu-restaurant__plat-card:hover > .menu-restaurant__plat-card--check > .checked-icon {
  opacity: 1;
  transform: rotate(360deg);
}
.menu-restaurant .checked-icon {
  transition: all 0.8s ease-in-out;
}
.menu-restaurant__button--gradiant {
  background: linear-gradient(-10deg, #9356DC 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  color: #fff;
  padding: 12px 40px;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}
.menu-restaurant__button--gradiant:hover {
  cursor: pointer;
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.9) 0%, rgb(255, 121, 218) 78%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .fonctionnement h2 {
    width: 100%;
    text-align: center;
  }
  .fonctionnement__box {
    width: 45%;
  }
  .main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .main__title {
    width: 100%;
  }
  .main .restaurant-card {
    width: 45%;
  }
  .main .restaurant-card .tag-new {
    margin-left: 25%;
  }
  .main .restaurant-card:hover {
    width: 46%;
  }
}

/*# sourceMappingURL=style.css.map */
