*,
::after,
::before {
	margin: 0 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
}

/*variable pour le pre-loader*/

$visibilite: visible;
$hidden: hidden;

@mixin pre-loader-call ($visible: $visibilite) {
	animation-name: pre-loader;
	animation-duration: 3s;
	visibility: $visible;
}

.preload {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	animation-name: loader;
	animation-duration: 3s;
	visibility: hidden;
	animation-iteration-count: 1;
}

@keyframes pre-loader {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	99% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes loader {
	25% {
		opacity: 25%;
		visibility: visible;
	}

	50% {
		opacity: 100%
	}

	75% {
		opacity: 25%
	}

	100% {
		opacity: 0%;
		visibility: hidden;
	}
}

/*color variable*/
$bg-main : #f6f6f6;
$white : #fff;
$bg-secondary : #eaeaea;
$purple: #9356DC;
$purple-light: #f5edff;
$mint : #99e2d0;
$mint-text : #169477;
$text-secondary : #353535;

/*flex variable*/
$center : center;
$justify-content-default : flex-start;
$align-item-default : stretch;
$dir-default: row;


@mixin flexbox($justify: $justify-content-default, $align : $align-item-default, $dir : $dir-default) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $dir;
}


.nav {
	@include pre-loader-call;
	padding: 20px 0;
	box-shadow: 0 7px 9px -7px rgba(0, 0, 0, 0.4);

	&__list{
		list-style: none;
		@include flexbox($center);
		&--return{
			position: absolute;
			left: 5%;
		}
		&--logo{
			position: relative;
		}
	}

	.nav__retour {
		color: $text-secondary;
		text-decoration: none;
	}


	&__localisation {
		@include flexbox($center, $center);
		height: 50px;
		background-color: $bg-secondary;
		box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
		@include pre-loader-call;

		&__text {
			font-size: 18px;
			color: $text-secondary;
			padding-left: 10px;
		}

		&__icon {
			color: $text-secondary;
		}
	}
}

@mixin button-gradiant {
	background: linear-gradient(-10deg, $purple 0%, rgba(255, 121, 218, 1) 100%);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
	border-radius: 25px;
	color: $white;
}

.header {
	padding: 25px 15px;
	background-color: $bg-main;
	@include flexbox($center, $center, column);
	text-align: center;
	@include pre-loader-call;

	&__title {
		font-weight: bold;
		font-size: 24px;
		padding: 10px 60px;
		
		&--secondary{
			padding: 0 15px;
		}
	}

	.button--gradiant {
		@include button-gradiant;
		padding: 12px 20px;
		margin: 20px 0;
		transition: 0.2s ease-in-out;

		&:hover {
			cursor: pointer;
			background: linear-gradient(-10deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 1) 78%);
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
		}
	}
	& a{
		text-decoration: none;
	}
}

.fonctionnement {
	@include flexbox($justify-content-default, $center, column);
	margin: 25px 15px;
	@include pre-loader-call;

	&__box {
		height: 70px;
		width: 95%;
		background-color: $bg-main;
		@include flexbox($justify-content-default, $center);
		border-radius: 20px;
		margin: 15px 5px;
		font-weight: bold;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);

		&--icon {
			@include flexbox($justify-content-default, $center);
			margin-left: 30px;
			color: $text-secondary;
			width: 40px;
		}

		&__num {
			position: absolute;
			margin-left: -10px;
			@include flexbox($center, $center);
			color: $white;
			width: 20px;
			height: 20px;
			background-color: $purple;
			border-radius: 10px;
			font-size: 12px;
		}

		&:hover {
			background-color: $purple-light;
		}

		&:hover>&--icon {
			color: $purple;
		}
	}
}

.main {
	background-color: $bg-main;
	@include flexbox($justify-content-default, $center, column);
	padding: 25px 15px;
	width: 100%;
	@include pre-loader-call;

	&__title {
		align-self: flex-start;
		padding-left: 30px;
	}

	.restaurant-card {
		@include flexbox($justify-content-default, $center, column);
		background-color: $white;
		border-radius: 22px;
		width: 90%;
		height: 240px;
		max-height: 250px;;
		margin: 15px 0px;
		color: black;
		transition: all 0.2s ease-in-out;
		&__link{
			height: 70%;
			width: 100%;
			&__img {
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			.tag-new {
				position: absolute;
				background-color: $mint;
				color: $mint-text;
				font-weight: bold;
				padding: 5px 10px;
				border-radius: 2px;
				right: 12%;
				margin-top: 20px;
			}
		}
		&:hover {
			width: 92%;
			box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.45);
		}

		&__desc {
			@include flexbox(space-between, $center);
			width: 100%;
			height: 30%;

			&__titre {
				padding-left: 10px;

				p:first-of-type {
					font-weight: bold;
					margin-bottom: 5px;
				}
			}

			&__liked {
				@include flexbox($center, $center);
				width: 20%;
				height: 90%;
				padding: 10px;
			}

			.coeur_hover {
				opacity: 0;
				color: rgba(255, 121, 218, 1);
				position: absolute;
				transition: all 0.5s ease-in-out;
			}

			.coeur_hover:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}
}

.footer {
	@include flexbox($justify-content-default, $align-item-default, column);
	background-color: $text-secondary;
	@include pre-loader-call;
	padding-bottom: 15px;

	&__title {
		color: $white;
		font-family: Shrikhand, roboto;
		font-size: 18px;
		margin: 20px 10px 10px 15px;
		text-decoration: none;
	}

	&__link a {
		@include flexbox;
		padding: 5px 0 5px 15px;
		text-decoration: none;
		color: $white;

		i {
			width: 30px;
			height: 20px;
			min-width: 20px;
			min-height: 20px;
		}

		&:hover {
			color: $mint;
		}
	}
}

/*MENU PAGE*/

.img__pre {
	width: 100%;
	@include pre-loader-call;

	img {
		max-height: 300px;
		width: 100%;
		object-fit: cover;
	}
}

@keyframes upfade {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	80% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

$delay: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $card in $delay {
	.card-#{$card} {
		animation-delay: calc(0.15s * $card);
	}
}

.menu-restaurant {
	padding: 35px 10px 15px 10px;
	transform: translateY(-50px);
	margin-bottom: -50px;
	@include pre-loader-call;
	@include flexbox($justify-content-default, $center, column);
	background-color: $bg-main;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

	.menu-cat{
		@include flexbox($justify-content-default, $center , column);
		width: 100%;
	}

	&__titre {
		height: 60px;
		width: 100%;
		padding: 0 15px;
		margin: 10px 0;
		font-size: clamp(12px, 3vw, 20px);
		@include flexbox(space-between,$center);
		font-family: Shrikhand, roboto;

		&--liked {
			align-self: center;
			font-size: 20px;

			.coeur_hover {
				top: 74px;
				right: 25px;
				opacity: 0;
				position: absolute;
				color: rgba(255, 121, 218, 1);
				transition: all 0.5s ease-in-out;
			}

			.coeur_hover:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}

	&__categorie {
		margin: 20px 0px 5px 15px;
		align-self: flex-start;
		color: $text-secondary;
		font-weight: 100;
		font-size: 17px;
	}
	
	&__spacer{
		background-color: $mint;
		height: 3px;
		width: 45px;
		border: none;
		margin: 2px 0px 5px 15px;
		align-self: flex-start;
	}

	&__plat-card {
		@include flexbox($justify-content-default, $center, row);
		width: 92%;
		height: 70px;
		background-color: white;
		border-radius: 20px;
		padding: 0 0 0 10px;
		margin: 5px 0;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
		animation-duration: 4s;
		animation-iteration-count: 1;
		animation-name: upfade;

		&--content {
			justify-self: flex-start;
			overflow: hidden;
			flex-basis: 95%;
			transition: all 0.5s ease-in-out;

			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			p:first-of-type {
				font-weight: bold;
				margin-bottom: 5px;
			}
		}

		&--price {
			white-space: nowrap;
			padding-top: 25px;
			padding-right: 10px;
			font-weight: bold;
			font-size: 15px;
			flex-basis: 5%;
		}

		&--check {
			opacity: 0;
			flex-basis: 0%;
			display: flex !important;
			align-items: center;
			justify-content: center;
			padding: 0px 0px;
			height: 100%;
			background-color: transparent;
			color: $white;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			overflow: hidden;
			transition: all 0.5s ease-in-out;
		}

		&:hover>&--content {
			flex-basis: 80%;
			cursor: pointer;
		}

		&:hover>&--check {
			opacity: 1;
			flex-basis: 15%;
			background-color: $mint;
			cursor: pointer;
		}

		&:hover>&--check>.checked-icon {
			opacity: 1;
			transform: rotate(360deg);
		}
	}

	.checked-icon {
		transition: all 0.8s ease-in-out;
	}

	&__button--gradiant {
		@include button-gradiant;
		padding: 12px 40px;
		margin: 20px 0;
		transition: all 0.5s ease-in-out;
		
		&:hover {
			cursor: pointer;
			background: linear-gradient(-10deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 1) 78%);
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
		}	
	}
	& a{
		text-decoration: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {

	.fonctionnement{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		h2{
			width: 100%;
			text-align: center;
		}
		&__box{
			width: 45%;
		}
	}

	.main{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		&__title{
			width: 100%;
		}
		.restaurant-card{
			width: 45%;
			.tag-new{
				right: auto;
				margin-left: 29%;
			}
			&:hover{
				width: 46%;
			}
		}
	}
}

@media screen and (min-width: 993px) {
	.header{
		width: 60%;
		float: left;
		padding: 25px 15px;
		background-color: $white;
		text-align: center;
		&__title {
			font-size: clamp(35px, 45px , 50px);
			padding: 10px 60px;
			
			&--secondary {
				//a clamp
				font-size: 36px;
				padding: 25px 15px;
				text-align: left;
				width: 80%;
			}
		}
		.button--gradiant {
			padding: 12px 20px;
			margin: 20px 0;
		}
	}
	.fonctionnement{
		width: 40%;
		float: right;
		margin: 0 0;
		padding: 25px 15px;
		h2{
			width: 50%;
			text-align: center;
		}
		&__box{
			width: 70%;
		}
	}

	.main{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		&__title{
			width: 100%;
			padding-left: 20px;
		}
		.restaurant-card{
			width: 23%;
			height: 320px;
			.tag-new{
				right: auto;
				margin-left: 14%;
			}
			&:hover{
				width: 24%;
			}
		}
	}

	.footer {
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		height: 120px;
		&__title{
			font-size: 24px;
			margin: 10px 10px 10px 15px;
		}
		&__link{
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			font-size: 20px;
		}
	}
 	.menu-restaurant{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-evenly;
		padding-bottom: 50px;
		align-items: flex-start;
		.menu-cat{
			width: 32%;
			padding-bottom: 50px;
		}
		&__plat-card { 
			margin: 10px 0;
		}
	}
}